
h1{
    horiz-align: center;
    text-align: center;
    padding: 0 200px;
}

main{
    min-height:1000px;
}

p {
   color: grey;
  }
body{
    background-color: beige;
    margin: 0 20px;
}
table{
    width: 900px;
    background-color: beige;
}
nav{
    vertical-align: center;
    width: 1100px;
    background-color:beige;
}
.menu{
    text-align: center;
    color: #ffffff;
    background-color: rgb(0, 202, 225);
    vertical-align: center;
    border-radius: 30px;
    border-color: rgb(3, 205, 232);
    border-style: solid;
    display: inline-block;
    width: 160px;
    height : 25px;
}
.menu_jelen{
    text-align: center;
    color: #ffffff;
    background-color: rgb(0, 150, 175);
    vertical-align: center;
    border-radius: 30px;
    border-color: rgb(3, 205, 232);
    border-style: solid;
    display: inline-block;
    width: 160px;
    height : 25px;
}

.menu:hover{
    background-color: rgb(0, 150, 175);
}

.menu > a,.menu_jelen > a {
    font-family: Arial;
    font-size: 20pt;
    color: white;
}

footer{
  background-color: beige;
    display: block;
  
}
a{
  color: #ffffff;
}

